
.e-sheet-contextmenu-layout{
  position:absolute;
  background-color:#ffffff;
  padding:10px 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 8px 0;
  border-radius: 4px;
  z-index: 999;
  min-width: 223px;
  .item-btn{
    position: relative;
    height: 34px;
    font-size: 13px;
    line-height: 20px;
    padding: 0 8px;
    margin: 0 4px;
    color: rgb(17, 31, 44);
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  .item-input-btn{
    height: 34px;
    font-size: 13px;
    line-height: 20px;
    padding: 0 8px;
    margin: 0 4px;
    color: rgb(17, 31, 44);
    display: flex;
    align-items: center;
    .input-con{
      color: rgb(51, 51, 51);
      background: white;
      line-height: 13px !important;
      border: 1px solid rgba(88,104,144,0.24);
      outline: none;
      border-radius: 6px;
      height: 16px;
      width: 120px;
      padding: 0;
      margin: 0;
      &:hover{
        border-color: var(--e-sheet-selected-cell-color);
      }
      &:focus{
        border-color: var(--e-sheet-selected-cell-color);
      }
    }
  }

  .item-top-border{
    border-top:1px solid #ECEDEE;
  }
}
