
// 主题颜色
:root{
  --e-sheet-primary-color:#4290f7;
  --e-sheet-selected-cell-color:#0089FF;
  --e-sheet-border-color:#ECEDEE;
  --e-sheet-radio-button-selected-color:rgba(139,165,217,0.20);
}
$theme-color-blue:--eview-sheet-primary-color;


// 全局样式

// canvas
.e-sheet-canvas-wrapper{
  position: relative;
  overflow: hidden;
}

// cell
.e-sheet-cell-painter{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--e-sheet-selected-cell-color);
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  z-index: 99;
}

.e-sheet-selected-cell{
  border:2px solid var(--e-sheet-selected-cell-color);
  position: absolute;
  box-sizing: border-box;
  user-select: none;
}

.e-sheet-cell-painter-border{
  position: absolute;
  background-color: #E7EFFB;
}

.e-sheet-ver-cell-border{
  position: absolute;
  width: 4px;
  background-color: transparent;
  cursor: pointer;
}

.e-sheet-hor-cell-border{
  position: absolute;
  height: 4px;
  background-color: transparent;
  cursor: pointer;
}


// 引入内容样式
@import "./content";
@import "./contextmenu";
@import "./setting";