
.e-sheet-tip{
  display: flex;
}

.e-sheet-option-layout{
  position: absolute;
  min-width: 160px;
  background-color: #ffffff;
  border: 1px solid rgba(17, 31, 44, 0.12);
  border-radius: 6px;
  z-index: 999999;
}

.e-sheet-color-select{
  outline: none;
  width: 60px;
  height: 20px;
  border: 1px solid rgba(17, 31, 44, 0.12);
}

.e-sheet-select{
  outline: none;
  width: 60px;
  height: 20px;
  border: 1px solid rgba(17, 31, 44, 0.12);
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2px;
  box-sizing: border-box;
  .select-text{
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

.e-sheet-option{
  display: flex;
  align-items: center;
  min-height: 34px;
  padding: 0px 8px;
  margin: 2px 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 6px;
  user-select: none;
  .option-font{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    flex-grow: 1;
    flex-shrink: 2;
    text-align: start;
  }
}

.e-sheet-setting-layout{
  display: flex;
  .font-position-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.e-sheet-radio-group{
  display: flex;
  align-items: center;
  justify-content: center;
}

.e-sheet-cell-svg-layout{
  display: flex;
  align-items: center;
  justify-content: center;
  >svg{
    max-height: 100%;
    max-width: 100%;
  }
}

.e-sheet-svg-20-20{
  width: 20px;
  height: 20px;
}

.e-sheet-svg-12-12{
  width: 12px;
  height: 12px;
}

.e-sheet-radio-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.e-sheet-radio-button-tip{
  position: absolute;
  border-radius: 6px;
  background-color: rgba(70,72,74,1);
  padding: 6px;
  font-size: 12px;
  color: #ffffff;
  white-space:normal;
}

.e-sheet-radio-button-selected{
  background-color: var(--e-sheet-radio-button-selected-color);
}


.e-sheet-setting-input-bar-layout{
  display: flex;
  align-items: center;
  .left-input-layout{
    font-family: sans-serif;
    align-self: stretch;
    font-size: 12px;
    flex: 0 0 100px;
    box-sizing: border-box;
    width: 100px;
    .cell-label-input{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 1px 8px 1px 26px;
      outline: none;
      border:1px solid var(--e-sheet-border-color);
    }
  }
  .right-input-layout{
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    height: 24px;
    border:1px solid var(--e-sheet-border-color);
    .prefix-label{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 8px 0px 12px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
    .fx-input{
      flex: 1;
      box-sizing: border-box;
      outline: none;
      border: none;
    }
  }
}
